{% load widget_tweaks %} 

<h2 class="text-2xl font-bold text-gray-800 mb-6">Editar Manutenção Programada</h2>
<form action="{% url 'manutencao_update' pk=object.pk %}" method="post">
    {% csrf_token %}
    <div class="space-y-4">
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
            {% render_field field class+="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm" %}
        </div>
        {% endfor %}
    </div>
    <div class="mt-8 flex justify-end gap-4">
        <button type="button" class="js-modal-cancel bg-gray-200 text-gray-800 px-4 py-2 rounded-lg font-semibold">Cancelar</button>
        <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded-lg font-semibold flex items-center gap-2"><i class="ph ph-check-circle"></i> Salvar Alterações</button>
    </div>
</form>